<template>
  <div class="page employees-list">
    <h1 class="employees-list__header">Employees</h1>
    <div v-if="loading" class="employees-list__loading">Loading...</div>
    <table v-else class="employees-list__list">
      <tr class="employees-list__list-header">
        <th>id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
      </tr>
      <tr v-for="employee in employees" :key="employee.id" class="employees-list__list-row">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.address.street}} {{employee.address.suite}} {{employee.address.city}}</td>
        <td>{{employee.phone}}</td>
        <td>
          <a :href="`mailto:${ employee.email }`">{{employee.email}}</a>
        </td>
        <td>
          <EditButton :onEditClick="()=>onEditClick(employee)" />
        </td>
      </tr>
    </table>
    <EditEmployee
      v-if="openDialog"
      @close="closeEditEmployee"
      :editedEmployee="editedEmployee"
      :fetchData="fetchData"
    />
  </div>
</template>
<script>
import axios from "axios";

import EditButton from "../components/EditButton";
import EditEmployee from "../components/EditEmployee";

export default {
  components: {
    EditButton,
    EditEmployee
  },
  data() {
    return {
      loading: false,
      employees: [],
      openDialog: false,
      editedEmployee: {}
    };
  },
  created() {
    this.fetchData();
  },
  watch: {
    $route: "fetchData"
  },
  methods: {
    onEditClick({ id, name, address, phone, email }) {
      this.editedEmployee = {
        id,
        name,
        phone,
        email,
        address: { ...address }
      };
      this.showEditEmployee();
    },
    showEditEmployee() {
      this.openDialog = true;
    },
    closeEditEmployee() {
      this.openDialog = false;
    },
    fetchData() {
      this.loading = true;

      axios
        .get("https://jsonplaceholder.typicode.com/users")
        .then(({ data }) => {
          this.employees = data;
        })
        .finally(() => {
          this.loading = false;
        });
    }
  }
};
</script>
<style lang="scss" scoped>
.employees-list {
  &__header {
    font-size: 20px;
    padding: 0 0 10px;
  }

  &__loading {
    color: #999d9d;
    text-align: center;
  }

  &__list {
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
  }

  &__list-header {
    background: #f7f8f9;
    border-bottom: 1px solid #999d9d;

    th {
      padding: 8px;
    }
  }

  &__list-row {
    background: #fff;

    td {
      padding: 8px;
    }
  }
}
</style>