<template>
  <div class="dialog-backdrop">
    <div class="dialog">
      <header>
        <h4>EDIT EMPLOYEE</h4>
        <div v-if="saving" class="saving">...Saving</div>
        <button class="close" @click="close">x</button>
      </header>
      <form class="dialog-body">
        <label>
          Name
          <input type="text" name="name" v-model="editedEmployee.name" />
        </label>
        <label>
          Street
          <input type="text" name="street" v-model="editedEmployee.address.street" />
        </label>
        <label>
          Suite
          <input type="text" name="suite" v-model="editedEmployee.address.suite" />
        </label>
        <label>
          City
          <input type="text" name="city" v-model="editedEmployee.address.city" />
        </label>
        <label>
          Phone
          <input type="text" name="phone" v-model="editedEmployee.phone" />
        </label>
        <label>
          Email
          <input type="email" name="email" v-model="editedEmployee.email" />
        </label>
      </form>
      <footer>
        <button class="submit" @click="onSubmit">SUBMIT</button>
      </footer>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  props: {
    editedEmployee: Object,
    fetchData: Function
  },
  data() {
    return {
      saving: false
    };
  },
  methods: {
    close() {
      this.$emit("close");
    },
    onSubmit() {
      this.saving = true;
      axios
        .patch(
          `https://jsonplaceholder.typicode.com/users/${this.editedEmployee.id}`,
          {
            ...this.editedEmployee
          }
        )
        .then(({ data }) => {
          console.log(data);
        })
        .finally(() => {
          this.saving = false;
          this.close();
          this.fetchData;
        });
    }
  }
};
</script>
<style lang="scss" scoped>
.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.4);
}

.dialog {
  background: #ffffff;
  box-shadow: 2px 2px 20px 2px;
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 300px;

  header,
  footer {
    padding: 0 10px;
    display: flex;
    height: 50px;
    background: #f7f8f9;
  }

  header {
    border-bottom: 1px solid #999d9d;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

    .saving {
      color: #ff0000;
      font-size: 12px;
    }
  }

  footer {
    border-top: 1px solid #999d9d;
    justify-content: flex-end;
  }
}

.dialog-body {
  position: relative;
  padding: 10px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  label {
    margin: 5px 0;
  }

  input {
    width: 280px;

    &:focus {
      background-color: #c0e1ec;
    }
  }
}

button {
  border: none;
  font-size: 16px;
  background: transparent;
  cursor: pointer;
  outline: none;

  .close {
    font-weight: bold;
  }

  .submit {
    margin: 5px;
  }
}
</style>