<template>
  <button class="btn-edit" @click="onEditClick">EDIT</button>
</template>
<script>
export default {
  props: {
    onEditClick: Function
  }
};
</script>
<style lang="scss" scoped>
.btn-edit {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 14px;
  outline: none;
}
</style>